html {
    height: 100%;
 }
 
 body {
    height: 100%;
    background-color: #efecec;
 }
 
 .body {
    height: 100%;
 }

 #body-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 58px;
    padding-bottom: 58px;
    padding-left: 10px;
 }

 #menu-content {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
 }

 #menu-bar {
    padding: 0 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .calendar-date {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 #data-dashboard{
    max-width: 200px;
 }

 .nav-item {
    padding: 0 30px;
 }

 .calendar-date label {
    font-size: 1.25rem;
 }

 #content-duo-date label {
   font-size: 1.2rem;
   width: 98%;
   text-align: center;
 }

 #menu-content section {
   padding: 0 5px 5px;
 }

 #content-graphic label {
   font-size: 1.2rem;
   width: 98%;
   text-align: center;
 }

 #content-graphic {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
 }

 #data-graphic {
   display: flex;
   height: 70%;
   width: 100%;
 }

 .filter-date {
   display: flex;
   width: 50%;
   justify-content: space-around;
   padding: 20px 20px;
 }

  #data-dashboard, #date-graphicI, #date-graphicF {
   background-color: #efecec;
   text-align: center;
  }

 
 /* 
 flex-wrap = wrap => mantem a largura do flex
 justify-content = space-around => coloca a largura a partir do tamannho e margens
 justify-content = space-between => coloca a largura a partir do tamannho e desconsider as margens do primeiro e último
 *\