html {
    height: 100%;
 }
 
 body {
    height: 100%;
    background-color: #efecec;
 }
 
 .body {
    height: 100%;
 }

 #body-container {
    height: 100%;
    max-height: 92vh;
    display: flex;
    flex-direction: column;
    padding: 58px 10px 58px 10px;
 }

 #menu-content {
    padding-top: 15px;
    display: flex;
    height: 95%;
    width: 100%;
 }

 #menu-bar {
    padding: 0 5px;
    width: 100%;
    display: flex;
    align-items: center;
 }

 .nav-item {
    padding: 0 30px;
 }

 #content{
   padding: 0 5px 5px;
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 60%;
 }

 #data-graphic-economico{
   padding: 0px 5px 5px 15px;
   display: flex;
   height: 100%;
   width: 100%;
 }

 .filter-date {
   text-align: center;
 }

 .calendar-date {
    width: 100%;
    align-items: center;
 }

 .calendar-date label {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
 }

#date-graphicI, #date-graphicF {
   background-color: #efecec;
   text-align: center;
  }

  #botao-filtrar {
    display: flex;
    padding: 20px 100px 20px 80px;
  }

  .table-wrapper {
   overflow-y: auto;
   max-height: 90%;
   margin-bottom: 30px;
  }

  .pesquisaMe{
   width: 40px;
  }
  
  .pesquisaMed{
   width: 100px;
  }

  .pesquisaMa{
   width: 140px;
  }
  /* https://www.alura.com.br/conteudo/google-charts-criando-graficos-para-a-web */
  