header{
    background-color: dimgray;
    border: rgb(58, 55, 55) inset 5px;
    text-align: center;
    width: 100%;
}

section{
    display:flex;
    justify-content:space-around;
    margin: 10px 10px;
}

div{
    background-color: dimgray;
    display: inline-block;
    width:calc(32%);
    border: rgb(58, 55, 55) inset 5px;
    padding: 5px;
}

body{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
    
    table-layout:fixed;
    border: rgb(58, 55, 55) solid 5px;
    margin: 10px;
    width: 100%;
    page-break-inside: auto;
    text-align: center;
}

img{
    content: calc(20%-5px);
    text-align: center;
}

tr{
    page-break-inside: avoid;
    page-break-after: auto
}

footer{
    text-align: center;
}


