<<<<<<< HEAD
html {
   height: 100%;
}

body {
   height: 100%;
   background-color: #efecec;
}

body {
   background: var(--Back-color)
}

.body {
   height: 100%;
}

#body-container {
   background: url(/assets/Finance\ app-rafiki.svg) no-repeat;
   background-position: 0vw bottom;
   margin-left: 0;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form-data {
   margin-left: 35%;
}

#floatingTextarea {
   display: inline;
}

.title {
   padding-top: 30px;
}

.form-primary {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: center;
}
=======
:root {
    --Back-color: #efecec
 }
 
 *{
    margin: 0;
    padding: 0;
    border: 0;
 }
 
 body {
    background: var(--Back-color)
 }

 main {
    display: flex;
 }

 .choise {
    display: flex;
 }

 .choise label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
 }
 
 #page-natureza{
    height: 100vh;
    margin-left: 0;
 }
 
 .content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    flex-direction: column;
 }
 
 .data-input {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    align-items: center;
    justify-content: center;
 }
 
 .itens-data-label {
    font-size: 140%;
    height: 50px;
    width: 700px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
 }
 
 .itens-data-text {
    font-size: 130%;
    height: 60px;
    width: 700px;
    text-align: center;
    border-radius: 10px;
 }

 .buttons {
    display: flex;
    justify-content: space-between;
 }
 
 header, footer {
    display: flex;
    height: 8;
    width: auto;
    justify-content: center;
 }
 
 h3, h4 {
    align-self: center;
 }
 
 footer {
    margin-bottom: 10px;
 }
 
 #insert,  #abort {
    width: 33.3333%;
    margin-top: 30px;
    height: 40px;
    padding: 0 83px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(34, 121, 243);
    display: flex;
    justify-content: center;
 }
>>>>>>> 650c136 (Page Natureza)
